body {
	margin:20px;
	background: #333;
	position: relative;
	font-family: 'Lato', 'helvetica', 'sans-serif';
}

h1 {
  font-size: 3em;
	color: #fafafa;
	text-align: center;
	font-weight: 300;
}

#feed {
	margin: 20px 0 0 0;
	padding: 2%;
}

img {
	background: #ebebeb;
	padding: 5px;
	margin: 0 2% 3% 2%;
	width: 337px;
	height: 337px;
  box-shadow: 0 3px 5px 0 #222;
	-moz-box-shadow: 0 3px 5px 0 #222;
	-webkit-box-shadow: 0 3px 5px 0 #222;
	border-radius: 0px;
}

.date {
	color:#666;
}

.search-wrapper {
	width: 100%;
	text-align: center;
}

input {
	font-size: 1.5em;
	padding: 10px;
	border-radius: 2px;
	border: 0;
	font-weight: 300;
	outline: none;
	width: 280px;
}

button {
	border: 0;
	border-radius: 5px;
	color: #444;
	padding: 5px;
}
